scrapling==0.4.1
curl_cffi==0.14.0
playwright==1.56.0
playwright-stealth
patchright==1.56.0
python-dotenv==1.0.1
requests
setuptools
pip
pydantic
browserforge
lxml
cssselect
msgspec
beautifulsoup4
w3lib
tld
orjson
httpx
parsel
camoufox
#patchright install chromium
#playwright install chromium