scrapling[all]==0.4.1
curl_cffi>=0.7.0
playwright==1.49.1
playwright-stealth
patchright==1.49.1.0
python-dotenv==1.0.1
requests
setuptools
pip
pydantic
browserforge
lxml
cssselect
msgspec
beautifulsoup4
w3lib
tld
orjson
httpx
parsel
camoufox[nimbus]
